.Dialog {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.Dialog-box {
	pointer-events: auto;
	/*pointer-events: all;*/
	padding: 30px;
	background: white;
	border-radius: 5px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
}
.Dialog-buttons {
	/* TODO: friendly buttons */
	float: right;
}
.Dialog details {
	margin: 1em 0;
	width: 40em;
	border: 1px solid rgba(128, 128, 128, 0.5);
}
.Dialog details > summary {
	/*border-bottom: 1px solid rgba(128, 128, 128, 0.5);*/
	background: rgba(128, 128, 128, 0.1);
}
.Dialog details > .actual-details {
	max-height: 10em;
	overflow: auto;
}
.Dialog details > summary,
.Dialog details > .actual-details {
	padding: 0.5em;
}
.Dialog details pre {
	margin: 0;
}
