.HistoryEntry {
	flex: 0 0 auto;
	width: 100%;
	/*width: 200px;*/
	/*cursor: pointer;*/
	background: white;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	padding: 5px;
	font: inherit;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.HistoryEntry:active {
	background: rgb(240, 240, 240);
}
.HistoryEntry[aria-checked] {
	background: rgb(99, 155, 255);
}
.HistoryEntry:not(.current):not(.ancestor-of-current) {
	color: gray;
}
.HistoryEntry canvas,
.HistoryEntry svg,
.HistoryEntry .question-mark,
.HistoryEntry .ToolPreview {
	margin-right: 5px;
	vertical-align: middle;
}

.HistoryEntry .question-mark {
	display: inline-block;
	background: transparent var(--question-mark-animation) 0 0 no-repeat;
	animation: question-mark 3s steps(var(--question-mark-animation-frames)) infinite;
}
@keyframes question-mark {
	100% { background-position: calc(-1 * var(--question-mark-icon-size) * var(--question-mark-animation-frames)) 0; }
}
