/* taken from https://vineethtrv.github.io/loader/ */
.LoadingIndicator {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	border-top: 4px solid rgb(116, 116, 116);
	border-right: 4px solid transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;

	align-self: center;
    margin: auto;
}
.LoadingIndicator::after {
	content: '';  
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border-left: 4px solid #ffa600;
	border-bottom: 4px solid transparent;
	animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
} 
